@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 80s linear infinite; /* Puede ir 100s */
}


@keyframes slideIn {
  from {
    transform: translateX(-85vw);
  }
  to {
    transform: translateX(0);
  }
}

.inicio-transition {
  animation: slideIn 3s ease;
}
